input[type=text] {
  /* float: right; */
  padding: 6px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

button {
  float: right;
  padding: 12px 0px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  color: aliceblue;
  background-color: #404040;
}

/* button:hover {
  background: #ccc;
} */