@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.each-fade {
  display: flex;
  width: 100%;
}

.each-fade > div {
  width: 75%;
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each-fade p {
  width: 25%;
  font-size: 5em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: lightblue;
  font-family: 'Staatliches', cursive;

}

#second-slide {
     background: #E85A4F; 
     color: white;
}

#third-slide {
     background: #D8C3A5; 
}